[submodule "modules/CHTrips"]
	path = modules/CHTrips
	url = https://github.com/cardinalhorizon/CHTrips
	branch = main
[submodule "modules/Spark24"]
	path = modules/Spark24
	url = https://github.com/SparkVA/Spark24.git
	branch = main
[submodule "modules/CHFreeFlight"]
	path = modules/CHFreeFlight
	url = https://github.com/cardinalhorizon/CHFreeFlight
	branch = main
